[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
flake8 = "*"
pylint = "*"
kaggle = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
sphinxcontrib-seqdiag = "*"
nbsphinx = "*"
jupyter = "*"
runipy = "*"
pytest = "*"
pytest-profiling = "*"
pytest-cov = "*"
wheel = "*"
twine = "*"

[packages]
numpy = "*"
optuna = "*"
pandas = "*"
seaborn = "*"
dask = {extras = ["complete"],version = "*"}
scipy = "*"
scikit-learn = "*"
japanmap = "*"
better-exceptions = "*"
requests = "*"
ruptures = "*"
covid19dh = "*"
tabulate = "*"
matplotlib = "*"
fsspec = {extras = ["http"], version = "*"}
swifter = "*"

[scripts]
test_nosvg = "pytest -v --durations=0 --failed-first --maxfail=1 --cov=covsirphy --cov-report=term-missing"
dat = "python -m example.dataset_load"
line = "python -m example.load_linelist"
snl = "python -m example.scenario_analysis"
snl_jpn = "python -m example.scenario_analysis_jpn"
snl_usa = "python -m example.scenario_analysis_usa"
snl_deu = "python -m example.scenario_analysis_deu"
snl_grc = "python -m example.scenario_analysis_grc"
snl_esp = "python -m example.scenario_analysis_esp"
retro = "python -m example.scenario_analysis_retro"
sir = "python -m example.sir_model"
sird = "python -m example.sird_model"
sirf = "python -m example.sirf_model"
sirfv = "python -m example.sirfv_model"
sewirf = "python -m example.sewirf_model"
long_sim = "python -m example.long_simulation"
ww = "python -m example.worldwide"
ww_all = "python -m example.worldwide_all"
trend = "python -m example.trend_analysis"
val = "python -m example.model_validation"
