[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
flake8 = "*"
pylint = "*"
kaggle = "*"

[packages]
numpy = "*"
matplotlib = "*"
optuna = "*"
pandas = "*"
seaborn = "*"
dask = "*"
scipy = "*"
scikit-learn = "*"
sympy = "*"
japanmap = "*"

[requires]
python_version = "3.8"

[scripts]
dat = "python -m example.dataset"
pop = "python -m example.population"
phs = "python -m example.phase"
sim = "python -m example.simulation"
