[tool.poetry]
name = "covsirphy"
version = "2.14.0"
description = "COVID-19 analysis with phase-dependent SIR-derived ODE models"
authors = ["Lisphilar <lisphilar@outlook.jp>"]
license = "Apache-2.0"
repository = "https://github.com/lisphilar/covid19-sir"
documentation = "https://lisphilar.github.io/covid19-sir/index.html"
readme = "README.md"
keywords = ["covid19", "covid"]

[tool.poetry.dependencies]
python = "^3.6.9"
numpy = "^1.19.5"
optuna = "^2.3.0"
pandas = "^1.1.5"
seaborn = "^0.11.1"
dask = {version = "^2020.12.0", extras = ["complete"]}
fsspec = {version = "^0.8.5", extras = ["http"]}
scipy = "^1.5.4"
scikit-learn = "^0.24.0"
japanmap = "^0.0.21"
better-exceptions = "^0.3.2"
requests = "^2.25.1"
ruptures = "^1.1.1"
covid19dh = "^2.0.3"
tabulate = "^0.8.7"
matplotlib = "^3.3.3"
country-converter = "^0.7.1"
wbdata = "^0.3.0"
typing-extensions = {version = ">=3.7.4", python = "<3.5"}

[tool.poetry.dev-dependencies]
autopep8 = "^1.5.4"
flake8 = "^3.8.4"
kaggle = "^1.5.10"
Sphinx = "^3.4.3"
sphinx-rtd-theme = "^0.5.0"
sphinxcontrib-seqdiag = "^2.0.0"
nbsphinx = "^0.8.0"
jupyter = "^1.0.0"
pytest = "^6.2.1"
pytest-profiling = "^1.7.0"
pytest-cov = "^2.10.1"
runipy = "^0.1.5"
sphinx-copybutton = "^0.3.1"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
