name: Update documentation

on:
  push:
    branches:
      - main
    paths:
      - ".github/workflows/**"
      - "./covsirphy/__version__.py"
      - "docs/**"
  workflow_dispatch:

jobs:
  cancel:
    name: cancel previous runs
    runs-on: ubuntu-latest

    steps:
      - uses: styfle/cancel-workflow-action@main
        with:
          all_but_latest: true
          access_token: ${{ github.token }}

  docs:
    name: update documentation with Sphinx
    runs-on: ubuntu-latest

    steps:
      - name: check out repository
        uses: actions/checkout@main

      - name: install uv
        uses: astral-sh/setup-uv@v3
        with:
          enable-cache: true
          cache-dependency-glob: "uv.lock"

      - name: set up Python
        run: uv python install 3.12

      - name: install dependencies
        run: uv sync --group docs

      - name: create html files with "make docs" command
        run: make docs

      - name: Git add & commit
        uses: EndBug/add-and-commit@main
        with:
          add: "."
          default_author: github_actor
          message: "update documentation with Sphinx"
          push: true
