name: Quality Check

on:
  push:
    branches:
      main
  pull_request:
    types: [edited, synchronize, opened, reopened]
    branches:
      main
  workflow_dispatch:

jobs:
  cancel:
    name: cancel previous runs
    runs-on: ubuntu-latest

    steps:
      - uses: styfle/cancel-workflow-action@main
        with:
          all_but_latest: true
          access_token: ${{ github.token }}

  uv-quality-check:
    name: quality check
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.12"]

    steps:
      - name: check out repository
        uses: actions/checkout@main

      - name: install uv
        uses: astral-sh/setup-uv@v3
        with:
          enable-cache: true
          cache-dependency-glob: "uv.lock"

      - name: set up Python
        id: setup-python
        run: uv python install ${{ matrix.python-version }}

      - name: install dependencies
        run: uv sync --group test

      - name: run quality check with "make check" command
        run: make check

  uv-test:
    name: Pytest with uv
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.12"]

    steps:
      - name: check out repository
        uses: actions/checkout@main

      - name: install uv
        uses: astral-sh/setup-uv@v3
        with:
          enable-cache: true
          cache-dependency-glob: "uv.lock"

      - name: set up Python
        id: setup-python
        run: uv python install ${{ matrix.python-version }}

      - name: install dependencies
        run: uv sync --group test

      - name: run tests
        run: uv run pytest tests

      - name: upload test coverage to Codecov
        uses: codecov/codecov-action@main

  pip-test:
    name: test with pip
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13"]

    steps:
      - name: Checkout
        uses: actions/checkout@main

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@main
        with:
          python-version: ${{ matrix.python-version }}

      - name: pip install and test
        run: |
          pip install pip --upgrade
          pip install .
          pip install pytest pytest-cov pytest-xdist
          pytest -v --maxfail=1 tests -n auto

  anaconda_pip:
    name: test with Anaconda environment
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: ["windows-latest"]
        python-version: ["3.12"]

    steps:
      - uses: actions/checkout@main
      - name: Setup conda
        uses: conda-incubator/setup-miniconda@main
        with:
          python-version: ${{ matrix.python-version }}
          auto-activate-base: true
          activate-environment: true
          channels: conda-forge
          miniforge-version: 24.3.0-0
          show-channel-urls: true
          use-only-tar-bz2: false

      - name: installation of CovsirPhy
        run: |
          conda install -c conda-forge pip fiona ruptures
          pip install .

  codeql:
    name: discover vulnerabilities with CodeQL
    runs-on: ubuntu-latest
    permissions:
      security-events: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@main
        with:
          fetch-depth: 2

      - name: Initialize CodeQL
        uses: github/codeql-action/init@main
        with:
          languages: python

      - name: Autobuild
        uses: github/codeql-action/autobuild@main

      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@main
